@page "/lungCancer/inference"
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using System.Globalization
@using SharedCL.LungCancerPrediction.Models
@using SharedCL.Shared.Models
@using WebApp.LungCancerPrediction.ApiClients
@using WebApp.SharedKernel
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Forms
@inject CSharpLungCancerApiClient CSharpLungCancerApi
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@rendermode InteractiveServer

<PageTitle>Rak pluća </PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mb-16">
    <MudPaper Elevation="15" Class="pa-6 mt-6">
        <MudForm @ref="_form">
            <MudGrid>
                <MudItem xs="12" Style="position: relative; display: flex; align-items: center; min-height: 48px; margin-bottom: 30px;">
                    <MudIconButton Style="margin-left: 24px; position: absolute; left: 0;" Icon="@Icons.Material.Filled.ArrowBack"
                                   Variant="Variant.Filled" Color="Color.Primary" Href="/lungCancer" />
                    <MudText Style="width: 100%; text-align: center;" Typo="Typo.h5">Analiza Slike</MudText>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Outlined Style="display: flex; flex-direction: column; gap:1rem; padding: 1rem;">
                        <MudText Typo="Typo.body2">Odaberite sliku pluća*</MudText>
                        <MudFileUpload T="IBrowserFile" @bind-Files="_file" @bind-Files:after="UploadImage"
                                       Required="true" RequiredError="Slika je obavezna!"
                                       Accept=".png,.jpg,.jpeg" Hidden="true">
                            <CustomContent>
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Primary"
                                           OnClick="@context.OpenFilePickerAsync"
                                           StartIcon="@Icons.Material.Filled.CloudUpload">
                                    Pretraži fajlove
                                </MudButton>
                            </CustomContent>
                        </MudFileUpload>
                        @if (!string.IsNullOrWhiteSpace(_base64))
                        {
                            <MudImage Src="@_base64" Alt="Employee Image" Height="64" Width="64" Elevation="25" Class="rounded-lg" />
                        }
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                </MudItem>
                <MudItem xs="12">
                    <MudSelect T="LungCancerModel" @bind-Value="SelectedModel" Label="Model" Variant="Variant.Outlined"
                               Required="true" RequiredError="Model Mašinskog Učenja je obavezan!" Clearable>
                        @foreach (var item in Models)
                        {
                            <MudSelectItem Value="@item">
                                <div style="display: flex; justify-content: space-between;">
                                    @item.Name
                                </div>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" Style="display: flex; justify-content: center; gap:1rem;">
                    <MudButton OnClick="Predict" Color="Color.Primary" Variant="Variant.Filled"
                               Size="Size.Large" Disabled="_isLoading">
                        @if (_isLoading)
                        {
                            <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                            <span>Analiziranje...</span>
                        }
                        else
                        {
                            <span>Analiziraj Sliku</span>
                        }
                    </MudButton>
                    @if (Prediction != null)
                    {
                        <MudAlert Variant="Variant.Filled" Dense="true" NoIcon="false">
                            <b>@Prediction.PredictedLabel</b>
                        </MudAlert>
                    }
                </MudItem>
            </MudGrid>
        </MudForm>

    </MudPaper>
</MudContainer>

<MudPaper Class="d-flex justify-center align-center gap-4 pa-4"
          Style="position: fixed; bottom: 0; left: 0; right: 0; z-index: 100;"
          Elevation="10">

</MudPaper>

@code {

    private MudForm _form = null!;
    private IBrowserFile? _file = null;
    private string _base64 = string.Empty;

    private List<LungCancerModel> Models { get; set; } = new List<LungCancerModel>();
    private LungCancerModel SelectedModel = null!;

    private LungCancerPredictionModel? Prediction = null;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await CSharpLungCancerApi.GetModelsAsync();
        if (result.IsSuccess)
        {
            Models = result.Data!;
        }
        else
        {
            Snackbar.Add("Greška prilikom učitavanja modela!", Severity.Error);
        }
        await base.OnInitializedAsync();
    }

    private async Task Predict()
    {
        await _form.ValidateAsync();
        if (!_form.IsValid)
        {
            StateHasChanged();
            return;
        }

        _isLoading = true;
        StateHasChanged();

        var predResult = await CSharpLungCancerApi.PredictAsync(SelectedModel.Id, _file);
        if (predResult.IsSuccess)
        {
            Prediction = predResult.Data!;
            
        }
        else
        {
            Snackbar.Add("Greška prilikom analiziranja!", Severity.Error);
        }
        _isLoading = false;
        StateHasChanged();
    }

    private async Task UploadImage()
    {
        if (_file == null)
        {
            _base64 = string.Empty;
            StateHasChanged();
            return;
        }
        if (_file.Size > 5242880)
        {
            return;
        }

        using var stream = _file.OpenReadStream(5242880); // Limit to 5MB.
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);
        var fileBytes = memoryStream.ToArray();

        // Update base64 string
        _base64 = $"data:{_file.ContentType};base64,{Convert.ToBase64String(fileBytes)}";

    }
}
